    /* comienzo fondo de body para farmatips.html y conocenos.html */
    
    body,
    html {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .fondo_body {
        background-color: #E6FBFF;
    }